
:root {
    --color-1: #E3E5E7;
    --color-2: #3b3740;
    --color-3: #FFFFFF;
    --color-4: #C1B5A9;
    --color-5: #93989B;
    --color-6: #7A8389;
    --color-7: #D0D2D4;
    --color-8: #79848F;
}


/* Styling the navigation panel */

.header {
    height: 5vh;
    border-top: 1px solid var(--color-7);
    border-bottom: 1px solid var(--color-7); 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden; 
}
.grey-background {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover; 
    z-index: -1; /* Place the image behind the content */
}
.nav-div {
    height: 80%;
    margin: 9px;
}
.nav-link{
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 900;
    font-size: clamp(1rem, 2.5vw, 3vh);
    font-style: normal;
    text-decoration: none;
    color: var(--color-2)
}

/* The rest of the page is divided into two sections */

.upper-section {
    background-image: url('grey.jpg'); 
    background-size: cover;
}

.lower-section {
    position: relative; 
    background-image: url(white.jpg);
    background-size: cover;
    box-shadow: -5px -10px 18px #888888;
}

/* Styling the section that contains logo and short bio */


.logo-div {
    width: 100%; 
    display: flex; 
    align-items: center; 
    overflow: auto; 
    }
.logo {
    height: 25em; 
    margin-left: 3vh; 
    max-height: 25vh;
    }
.section-1 {
    font-family: 'Cormorant Garamond', sans-serif;
    color: var(--color-2);
    font-weight: 900;
    font-size: clamp(1rem, 2.5vw, 3vh);
    padding: 5px 5px 5px 45px;
    font-size: 1 vh;
}

/* For small screens */

@media (min-width: 768px) {
    .logo-div {
        flex-direction: row; 
        justify-content: flex-start; 
    }
}

@media (max-width: 768px) {
    .logo-div {
        flex-direction: column; 
        align-items: center; 
    }

    .logo {
        margin-bottom: 10px; 
        max-height: 5vh; 
    }

    .section-1 {
        text-align: center; 
        padding: 5px 5px; 
    }
}


/* Styling the photo section */

.photo{
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    gap: 3px;
    }
.gallery-div {
    display: grid;
    grid-template-rows: 1fr auto; 
    flex: 3;
    height: 48vh;
    padding: 15px;
}
.photo-text {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 90vh;
    padding: 5px;
    overflow: hidden; 
}

.main-photo {
    display: flex;
    justify-content: center; 
    align-items: center;
    max-height: 55vh; 
    width: 55vw;
    padding: 5px;
    overflow: hidden; 
}

#main-image {
    object-fit: contain;
    max-height: 50vh;
    max-width: 35vw;
}
.thumbnail-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}
.thumbnail {
    max-width: 20vh;
    max-height: 20vh;
    max-width: 5vw;
    width: auto;
    height: auto;
    opacity: 0.6;
    transition: opacity 0.3s;
    cursor: pointer;
    object-fit: cover;
    border: 0.5px solid var(--color-6);
    box-shadow: 0 2px 4px var(--color-2);
}
.thumbnail:hover {
    opacity: 1;
}
.thumbnail.selected {
    opacity: 1 !important; /* Ensures clicked thumbnail is non-transparent */
}

.photo-description {
    font-family: "Cormorant Garamond", serif;
    color: var(--color-2);
    font-weight: 600;
    font-style: italic;
    font-size: clamp(1.3rem, 2.5vw, 3vh);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

.show-description .photo-description {
    opacity: 1;
    visibility: visible;
}

.line {
    height: 2px;
    width: 0;
    transition: width 0.5s ease-out, opacity 0.5s ease-out;
    border-radius: 50%;
}

.top-line {
    background-color: var(--color-2);
    margin: 3vh 20vw 3vh 3vw;
    
}

.bottom-line {

    background-color: var(--color-2);
    margin: 3vh 3vw 3vh 20vw;
}

.show-description .top-line {
    width: 15vw;
    opacity: 0.7;
}

.show-description .bottom-line {
    width: 15vw;
    opacity: 0.7;
}


/* Styling the section with unordered lists */

#section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}


.tools {
    grid-column: span 2;
}


.ul {
    margin: 90vh;
}

h1 {
    display: block; 
    font-size: clamp(1.5rem, 2.5vw, 3vh); 
    margin: 0;
    text-align: center;
}

#section-3 h1, #section-4 h1, #section-5 h1 {
    text-align: center; 
    font-weight: bold; 
    color: var(--color-2); 
    margin-top: 10px; 
    margin-bottom: 10px; 
}

#section-3 ul{
    text-align: center;
    font-weight: bold; 
    color: var(--color-2); 
    margin-top: 10px; 
    margin-bottom: 10px; 
    font-size: 1.2em;
    margin-left: -15px;
}

#section-3 li{
    color: var(--color-2); 
    margin-top: 10px; 
    margin-bottom: 5px; 
    margin-left: 20px;
    font-size: 1em;
}

/* Styling the section with the table */


#section-4 table {
    width: 95%; 
    margin: 0 auto; 
    border-collapse: collapse; 
    table-layout: fixed; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

#section-4 .table-header {
    font-weight: bold;
    background-color: var(--color-2);
    color: var(--color-3);
}

#section-4 th, #section-4 td {
    font-family: "Cormorant Garamond", serif;
    font-size: clamp(0.7rem, 2vw, 2.5vh);
    padding: 10px; /* Add spacing inside cells */
    text-align: left; /* Align text to the left */
    font-weight: bold; /* Make text bold */
    color: var(--color-2); /* Ensure text is visible */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Thin border with a shadow-like effect */
    background-color: rgba(255, 255, 255, 0.3); /* Slightly opaque white for header background */
}

/* Set individual column widths */
#section-4 .table-header:first-child {
    width: 20%; /* Reduce first column width */
}

#section-4 .table-header:nth-child(2) {
    width: 40%; /* Reduce second column width */
    text-align: center;
}

#section-4 .table-header:nth-child(3), 
#section-4 .table-header:nth-child(4) {
    width: 20%; /* Keep photo and map columns wider */
}

/* Images in the table */
#section-4 .table-img {
    max-width: 100%; /* Ensure images fit within the cell */
    display: block;
    margin: 0 auto; /* Center images */
}

/* Center the text in the fourth column */
#section-4 td:nth-child(4),
#section-4 th:nth-child(3),
#section-4 th:nth-child(4) {
    text-align: center;
}


.directions {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    text-decoration: none;
    color: var(--color-2);
}

/* styling the section with ordered list */

#section-5 li,
#section-5 ol, 
.platforms {
    font-family: "Cormorant Garamond", serif;
    font-size: clamp(1rem, 2.5vw, 3vh);
    font-weight: bold;
    color: var(--color-2); 
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none; 

}

#section-4 p,
#section-5 p{
    text-align: center; 
    font-weight: bold; 
    color: var(--color-2);
    margin-top: 20px; 
    margin-bottom: 20px; 
    font-size: clamp(1rem, 2.5vw, 3vh);
    
}

#section-5 {
    margin-left: 10%;
    margin-right: 10%;
}

.platforms:hover {
    font-weight: bold;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8); 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8); 
}  

/* Styling the footer */ 

footer .linkedInIcon img {
    width: 40px;  
    height: auto; 
}
form {
    width: 400px;
    max-width: 75vw;
    margin: 3% 10% 3% 10%;
    padding: 1vh;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    color: var(--color-2);
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    color: var(--color-2);
    font-family: "Cormorant Garamond", serif;
    font-weight: bolder;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: var(--color-4);
    box-shadow: 0 0 5px rgba(128, 85, 44, 0.8);
}

input[type="submit"] {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-3);
    background-color: var(--color-5);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: var(--color-2);
}

footer {
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background-color: var(--color-1);
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

footer p {
    margin: 8px 0;
    font-size: 14px;
    color: var(--color-6);
}

footer a {
    margin: 0 8px;
    text-decoration: none;
}

footer img {
    height: 35px;
    vertical-align: middle;
}